.background1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}
.login_border{
    position: relative;
    top: 40px;
    left: 40%;
    border: 1px solid black;
    background-color: white;
    width: 250px;
    height: 300px;
}

h1{
    position: relative;
    top: 0px;
    left: 90px;
    color: blue;   
}
h2{

}